.sectionDivider {
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: #dddddd;
    margin: 5%;
}

.profileEdit {
    vertical-align: middle;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.profilePhoto {
    border-radius: 50%;
    width: 100px;
}

.saveProfile {
    padding-left: calc(90% - 0%);
    margin-bottom: 20px;
}

