.sideMenu {
    background-color: rgb(188, 187, 186);
    position: relative;
    width: 10%;
}

.menuItem {
    width: 100%;
    padding: 30px 10px;
}

.menuItem:hover {
    background: silver;
}

.menuItem:focus {
    background: black;
}

.menuText {
    font-size: 30px;
}