:root {
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
  color: #1f1f1f;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.appShell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appMainLogin {
  flex: 1;
  display: grid;
}

.appMain {
  flex: 1;
  /* 로그인페이지 flex로 인해서 문제가 생겼습니다 ...!! */
  display: flex; 
}

.pageList {
  flex: 1 0 auto;
}